.header {
    background-image: url('/Assets/Images/Object.png');
    background-repeat: no-repeat;
    height: 160vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.nav {
    max-width: 90rem;
    margin: 0 auto;
    padding: 2.188rem 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    gap: 3.313rem;
    list-style: none;

    & li a {
        text-decoration: none;
        color: var(--white);
        font-size: var(--fs-xs);
    }
}

.heading {
    text-align: center;
    font-size: var(--fs-xxxl);
    font-weight: 700;
    margin-top: 80px;
}

.heading-content ul {
    display: flex;  
    justify-content: center;
    list-style: none;
    gap: 3.688rem;
    margin-top: -1.25rem;
    font-size: var(--fs-sm);
}

